.nav-bar{
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: rgb(37, 37, 37);
    left:0;
    top:0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    z-index:12;
}
.nav-header{
    border-bottom: 2px solid white;
    font-family: sans-serif;
    font-size:17px;
}
.pic{
    border: 2px solid rgb(8, 57, 97);
    border-radius:50%;
}
.bbottom:focus{
    border-bottom: 1px solid white;
}
.nav-bar ul{
    list-style-type: none;
    padding: 0;
    left: 0;
}
/* Active */
.nav-bar ul li a.active{
    background-color: rgb(12, 35, 92);
    border-right: 2px solid rgb(245, 251, 253);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
}
/* Active */
/* .nav-bar ul:active{
    background-color: rgb(68, 68, 228);
} */
.nav-bar ul li a:hover{
    background-color: rgb(8, 57, 97);
    border-right: 2px solid rgb(245, 251, 253);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}
.nav-bar ul li a{
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

/* top nav */

.top-nav ul{
    background-color: rgb(49, 47, 47);
    overflow: hidden;
}
.top-nav ul li{
    float: left;
    color: white;
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
}
/* Media queries */

@media(max-width:768px)
{
    .nav-bar{
        /* display: none; */
        margin-left: -250px; 
        transition: all 0.5s;
    }
    .content{
        margin-left: 0px;
        transition: all 0.5s;
    }
    .top-nav{
        left: 0;
    }
    #grid{
        display: block;
        transition: all 0.5s;
    }
    #close{
        display: block;
        transition: all 0.5s;
    }
}